<div role="toolbar" class="btn-toolbar">
    <a ui-sref="storage.list" class="btn btn-default">
        <icon name="arrow-left" text="See all items" />
    </a>
    <send-message class="btn btn-default" recipient="item.resident" header="Re:{{item.description}}">
        <icon name="send" text="Send message to owner" />
    </send-message>
    <a ui-sref="storage.editItem({id: item.id})" ng-show="item.is_editable" class="btn btn-default">
        <icon name="edit" text="Edit details" />
    </a>
    <confirm-dialog class="btn btn-danger" header="Remove item" text="Are you sure you want to remove this item?" on-confirm="deleteItem()" ng-show="item.is_removable">
        <icon name="trash-o" text="Remove item" />
    </confirm-dialog>

</div>
<h2>{{item.description}}</h2>
<div class="thumbnail" ng-if="item.photo">
    <a href="{{item.photo_url}}" target="_blank">
        <img ng-src="{{item.thumbnail_url}}">
    </a>
</div>
<table class="table table-condensed">
    <tbody>
        <tr>
            <td>Serial number</td>
            <td>{{item.serial_no}}</td>
        </tr>
        <tr>
            <td>Owner</td>
            <td>
                <user-link user="item.resident" />
            </td>
        </tr>
        <tr>
            <td>Apartment</td>
            <td>
                <a ui-sref="buildings.apartment({id: item.apartment.id})">{{item.apartment.number}}</a>
            </td>
        </tr>
        <tr>
            <td>Stored in</td>
            <td><a ui-sref="storage.placeDetail({id: item.place})">{{item.place_name}}</a>
            </td>
        </tr>
    </tbody>
</table>
