<form role="form" name="itemForm" action="" novalidate>
    <div class="form-group">
        <label for="" class="label-control">Description</label>
        <input type="" class="form-control" ng-model="item.description" required />
    </div>
    <div class="form-group">
        <label for="" class="label-control">Serial no.</label>
        <input type="" class="form-control" ng-model="item.serial_no" />
    </div>
    <div class="form-group">
        <label for="" class="label-control">Place</label>
        <select id="" ng-model="item.place" ng-options="place.id as place.name for place in places" required>
        </select>
    </div>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="itemForm.$invalid">Save</button>
</form>
