<div class="row">
    <div class="col-md-6">
        <form class="search-form">
            <div class="input-group">
                <input class="form-control" type="search" ng-model="searchFilter.description" ng-change="items.filter(searchFilter)">
                <span class="input-group-addon"><icon name="search" /></span>
            </div>
        </form>
    </div>
    <div class="col-md-6" has-role="manager">
        <div class="btn-toolbar pull-right" role="toolbar">
            <a ui-sref="storage.newItem" class="btn btn-primary" has-role="resident">
                <icon name="plus" />Add new item
            </a>
            <a ui-sref="storage.newPlace" class="btn btn-primary" has-role="manager">
                <icon name="plus" />Add new place
            </a>

        </div>
    </div>
</div>


<table class="table table-bordered table-striped table-hover voffset-2">
    <thead>
        <tr>
            <th>Item</th>
            <th>Place</th>
            <th>Owner</th>
            <th>Apartment</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items.currentItems">
            <td><a href>{{item.description}}</a>
            </td>
            <td><a href>{{item.place_name}}</a>
            </td>
            <td><a ui-sref="residents.detail({id: item.resident.id})">{{item.resident.full_name}}</a>
            </td>
            <td><a ui-sref="buildings.apartment({id: item.apartment.id})">{{item.apartment.number}}</a>
            </td>
        </tr>
    </tbody>
</table>

<pager total-items="items.total" ng-model="items.page" ng-change="items.change()"></pager>
