<div class="btn-toolbar voffset-2" role="toolbar">
    <a ui-sref="storage.list" class="btn btn-default">
        <icon name="arrow-left" text="See all items" />
    </a>
    <a ui-sref="storage.newItem" class="btn btn-primary" has-role="resident">
        <icon name="plus" />Add new item
    </a>
    <a ui-sref="storage.editPlace({id: place.id})" class="btn btn-default" has-role="manager">
        <icon name="edit" />Edit
    </a>
    <confirm-dialog class="btn btn-danger" header="Remove storage area" text="Are you sure you want to remove this? Any items stored here will also be removed!" on-confirm="deletePlace()" has-role="manager">
        <icon name="trash-o" text="Remove" />
    </confirm-dialog>
    <button class="btn btn-default" ng-click="searchForm.toggle()">
        <icon name="search" text="Search" />
    </button>
</div>

<search-form name="searchForm" paginator="paginator" filter="description" class="voffset-2"></search-form>

<h2>{{place.name}}</h2>
<p class="well" ng-if="place.location">{{place.location}}</p>

<paginated-table class="voffset-2" paginator="paginator" cols="['Item', 'Serial number', 'Owner', 'Apartment']">

    <cell><a ui-sref="storage.itemDetail({id: item.id})">{{item.description}}</a>
    </cell>
    <cell>{{item.serial_no}}</cell>
    <cell>
        <user-link user="item.resident" />
    </cell>
    <cell><a ui-sref="buildings.apartment({id: item.apartment.id})">{{item.apartment.number}}</a>
    </cell>
</paginated-table>
