<form role="form" name="placeForm" action="">
    <div class="form-group">
        <label for="" class="control-label">Name</label>
        <input type="text" class="form-control" ng-model="place.name" />
    </div>
    <div class="form-group">
        <label for="" class="control-label">Exact location</label>
        <input type="text" class="form-control" ng-model="place.location" />
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="placeForm.$invalid || !placeForm.$dirty" ng-click="save()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</form>
