<form role="form" name="ticketForm" novalidate>
    <div class="form-group">
        <label for="" class="label-control">Please give a detailed description of the issue.</label>
        <textarea id="" ng-model="ticket.description" rows="10" class="form-control" cols="30" required></textarea>
    </div>
    <div class="form-group" has-role="manager">
        <label for="" class="label-control">Apartment</label>
        <select class="form-control" ng-options="apartment.id for apartment.name in apartments">
        </select>
    </div>
    <button role="button" class="btn btn-primary" ng-click="save()" ng-disabled="ticketForm.$invalid">Save</button>
</form>
