<div role="toolbar" class="btn-toolbar">
    <a ui-sref="tickets.new" class="btn btn-primary">
        <icon name="plus" text="Submit an issue" />
    </a>


    <button class="btn btn-default" ng-click="searchForm.toggle()">
        <icon name="search" text="Search" />
    </button>
</div>

<search-form name="searchForm" paginator="paginator" filter="description" class="voffset-2"></search-form>
<table class="table table-bordered table-striped table-hover voffset-2" ng-show="!paginator.isEmpty">

    <thead>
        <tr>
            <th>Description</th>
            <th>Status</th>
            <th>Reported on</th>
            <th>Reported by</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ticket in paginator.currentItems">
            <td><a ui-sref="tickets.detail({id: ticket.id})">{{ticket.description|limitTo:30}}</a>
            </td>
            <td><span class="label" ng-class="{'label-success': ticket.status == 'new', 'label-warning': ticket.status == 'accepted', 'label-danger': ticket.status == 'resolved'}">{{ticket.status}}</td>
            <td>{{ticket.created|date:"short"}}</td>
            <td><user-link user="ticket.reporter_detail" /></td>
        </tr>
    </tbody>

</table>

<pager total-items="paginator.total" ng-model="paginator.page" ng-change="paginator.change()"></pager>
