<div class="row">
    <div class="col-md-6">
        <form class="search-form">
            <div class="input-group">
                <input class="form-control" type="search" ng-model="searchFilter.description" ng-change="tickets.filter(searchFilter)">
                <span class="input-group-addon"><icon name="search" /></span>
            </div>
            <span class="help-block" ng-show="!tickets.currentItems.length && (searchFilter.description || searchFilter.status)">
Sorry, no tickets found for your search.
</span>

        </form>
    </div>
    <div class="col-md-6">
        <div role="toolbar" class="btn-toolbar pull-right">
            <a ui-sref="tickets.new" class="btn btn-primary">
                <icon name="plus" text="Submit a problem" />
            </a>
        </div>
    </div>
</div>


<table class="table table-bordered table-striped table-hover voffset-2" ng-show="tickets.currentItems.length">
    <thead>
        <tr>
            <th>Description</th>
            <th>Status</th>
            <th>Reported on</th>
            <th>Reported by</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ticket in tickets.currentItems">
            <td><a ui-sref="tickets.detail({id: ticket.id})">{{ticket.description}}</a>
            </td>
            <td><span class="label" ng-class="{'label-success': ticket.status == 'new', 'label-warning': ticket.status == 'accepted', 'label-danger': ticket.status == 'resolved'}">{{ticket.status}}</td>
            <td>{{ticket.created|date:"short"}}</td>
            <td><user-link user="ticket.reporter_detail" /></td>
        </tr>
    </tbody>

</table>

<pager total-items="tickets.total" ng-model="tickets.page" ng-change="tickets.change()"></pager>
