<div role="toolbar" class="btn-toolbar">
    <a ui-sref="tickets.new" class="btn btn-primary">
        <icon name="plus" text="Submit an issue" />
    </a>


    <button class="btn btn-default" ng-click="searchForm.toggle()">
        <icon name="search" text="Search" />
    </button>
</div>

<search-form name="searchForm" paginator="paginator" filter="description" class="voffset-2"></search-form>
<paginated-table class="voffset-2" paginator="paginator" cols="['Description', 'Status', 'Reported on', 'Reported by']">


    <cell><a ui-sref="tickets.detail({id: item.id})">{{item.description|limitTo:30}}</a>
    </cell>
    <cell><span class="label" ng-class="{'label-success': item.status == 'new', 'label-warning': item.status == 'accepted', 'label-danger': item.status == 'resolved'}">{{item.status}}</span>
    </cell>
    <cell>{{item.created|date:"short"}}</cell>
    <cell>
        <user-link user="item.reporter_detail" />
    </cell>
</paginated-table>

