<div class="btn-toolbar pull-right">
    <button send-message="resident" role="button" class="btn btn-primary" ng-show="resident.id !== auth.user.id">
        <icon name="send" text="Send message"></icon>
    </button>

    <a ui-sref="residents.edit({id: resident.id})" class="btn btn-default" has-role="manager" ng-show="resident.id !== auth.user.id && resident.role === 'resident'">
        <icon name="edit" text="Edit"></icon>
    </a>
    <a ui-sref="account.edit" class="btn btn-default" ng-show="auth.user.id === resident.id">
        <icon name="edit" text="Edit"></icon>
    </a>
    <confirm-dialog has-role="manager" class="btn btn-danger" ng-show="resident.role === 'resident' && resident.id !== auth.user.id" header="Remove {{resident.full_name}}" text="Are you sure you want to remove this resident from the apartment block?" on-confirm="deleteUser()">
        <icon name="trash-o" text="Remove this user"></icon>
    </confirm-dialog>
</div>

<h2>{{resident.full_name}} <span ng-show="resident.role === 'manager'" class="label label-info">Building manager</span></h2>
<h3 ng-show="resident.apartment_detail"><a ui-sref="buildings.apartment({id : resident.apartment })">Apartment {{resident.apartment_detail.name}}</a></h3>

<accordion close-others="true">
    <accordion-group ng-if="auth.user.role=='manager'" is-open=" status.contact " ng-click="status.contact=! status.contact ">
        <accordion-heading>
            Contact details
            <icon class="pull-right " name="{{status.contact? 'arrow-down': 'arrow-right'}} " />
        </accordion-heading>

        <table class="table table-condensed ">
            <tr>
                <td>Email address</td>
                <td ng-href="mailto:{{resident.email}} ">{{resident.email}}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{resident.phone}}</td>
            </tr>
        </table>
    </accordion-group>

    <accordion-group heading="Storage " ng-if="resident.items.length " is-open="status.storage " ng-click="status.storage=! status.storage ">
        <accordion-heading>
            Storage
            <icon class="pull-right " name="{{status.storage? 'arrow-down': 'arrow-right'}} " />
        </accordion-heading>


        <table class="table table-bordered table-hover table-striped table-condensed ">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Stored in</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in resident.items ">
                    <td>
                        <a ui-sref="storage.itemDetail({id: item.id}) ">{{item.description}}</a>
                    </td>
                    <td>
                        <a ui-sref="storage.placeDetail({id: item.place_id}) ">{{item.place_name}}</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </accordion-group>

    <accordion-group heading="Vehicles " ng-if="resident.vehicles.length " is-open="status.vehicles " ng-click="status.vehicles=! status.vehicles ">
        <accordion-heading>
            Vehicles
            <icon class="pull-right " name="{{status.vehicles? 'arrow-down': 'arrow-right'}} " />
        </accordion-heading>


        <table class="table table-bordered table-hover table-striped table-condensed ">
            <thead>
                <tr>
                    <th>Registration</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vehicle in resident.vehicles ">
                    <td>
                        <a ui-sref="parking.detail({id: vehicle.id}) ">{{vehicle.registration_number}}</a>
                    </td>
                    <td>{{vehicle.description}}</td>
                </tr>
            </tbody>
        </table>

    </accordion-group>

    <accordion-group ng-if="resident.bookings.length " is-open="status.bookings " ng-click="status.bookings=! status.bookings ">
        <accordion-heading>
            Reservations
            <icon class="pull-right " name="{{status.bookings? 'arrow-down': 'arrow-right'}} " />
        </accordion-heading>


        <table class="table table-bordered table-hover table-striped table-condensed ">
            <thead>
                <tr>
                    <th>Reservation</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="booking in resident.bookings ">
                    <td>
                        <a ui-sref="amenities.bookingDetail({id: booking.id}) ">{{booking.amenity.name}}</a>
                    </td>
                    <td>{{booking.reserved_from|date:"short "}}</td>
                    <td>{{booking.reserved_to|date:"short "}}</td>
                </tr>
            </tbody>
        </table>
    </accordion-group>


    <accordion-group ng-if="resident.notices.length " is-open="status.notices " ng-click="status.notices=! status.notices ">
        <accordion-heading>
            Notice board
            <icon class="pull-right " name="{{status.notices? 'arrow-down': 'arrow-right'}} " />
        </accordion-heading>


        <table class="table table-bordered table-hover table-striped table-condensed ">
            <thead>
                <tr>
                    <th>Notice</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notice in resident.notices ">
                    <td>
                        <a ui-sref="notices.detail({id: notice.id}) ">{{notice.title}}</a>
                    </td>
                    <td>{{notice.created|date:"short "}}</td>
                </tr>
            </tbody>
        </table>
    </accordion-group>


    <accordion-group ng-if="resident.sent_messages.length || resident.received_messages.length " is-open="status.messages " ng-click="status.messages=! status.messages ">

        <accordion-heading>
            Messages
            <icon class="pull-right " name="{{status.messages? 'arrow-down': 'arrow-right'}} " />
        </accordion-heading>

        <table class="table table-bordered table-hover table-striped table-condensed " ng-show="resident.sent_messages.length ">
            <caption>Messages {{resident.full_name}} has sent you</caption>
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Sent</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in resident.sent_messages ">
                    <td>
                        <a ui-sref="messages.detail({id: message.id}) ">{{message.header}}</a>
                    </td>
                    <td>
                        {{message.created|date:"short "}}
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="table table-bordered table-hover table-striped table-condensed " ng-show="resident.received_messages.length ">
            <caption>Messages you have sent to {{resident.full_name}}</caption>
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Received</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in resident.received_messages ">
                    <td>
                        <a ui-sref="messages.detail({id: message.id}) ">{{message.header}}</a>
                    </td>
                    <td>
                        {{message.created|date:"short "}}
                    </td>
                </tr>
            </tbody>
        </table>
    </accordion-group>
</accordion>

