<div class="btn-toolbar pull-right">
    <button send-message="{{resident}}" class="btn btn-primary" ng-show="resident.id !== auth.user.id">
        <icon name="send" text="Send message">
    </button>
    <a ui-sref="account.edit" class="btn btn-default" ng-show="auth.user.id === resident.id">
        <icon name="edit" text="Edit">
    </a>
</div>

<h2>{{resident.full_name}}</h2>

<table class="table table-condensed" ng-show="resident.apartment">
    <tbody>
        <tr>
            <td>Apartment</td>
            <td><a ui-sref="buildings.apartment({id : resident.apartment.id })">{{resident.apartment.number}}</a>
            </td>
        </tr>
    </tbody>
</table>

<h3 ng-show="resident.role==='resident'">Storage</h3>

<h3 ng-show="resident.role==='resident'">Vehicles</h3>

<h3 ng-show="resident.role==='resident'">Bookings</h3>

<h3>Notice board</h3>

<h3>Messages to {{resident.full_name}}</h3>

<h3>Messages from {{resident.full_name}}</h3>
