<div class="row">
    <div class="col-md-6">
        <form class="search-form">
            <div class="input-group">
                <input class="form-control" type="search" ng-model="searchFilter.full_name" ng-change="residents.filter(searchFilter)">
                <span class="input-group-addon"><icon name="search" /></span>
            </div>

            <span class="help-block" ng-show="!residents.currentItems.length && searchFilter.full_name">
                Sorry, no residents found for your search.
            </span>
        </form>
    </div>
    <div class="col-md-6" has-role="manager">
        <div class="btn-toolbar pull-right" role="toolbar">
            <a class="btn btn-primary" ui-sref="residents.new">
                <icon name="plus" text="Add resident">
            </a>
        </div>
    </div>
</div>


<table class="table table-striped table-hover table-bordered voffset-2" ng-show="residents.currentItems.length">
    <thead>
        <tr>
            <th>Resident</th>
            <th>Apartment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="resident in residents.currentItems">
            <td>
                <user-link user="resident" />
            </td>
            <td><a ui-sref="buildings.apartment({id: resident.apartment})">{{resident.apartment_detail.number}} / Floor {{ resident.apartment_detail.floor}}</a>
            </td>
            <td>
                <button send-message="{{resident}}" class="btn btn-primary btn-sm" ng-show="resident.id !== user.id">
                    <icon name="send" text="Send message" />
                </button>
            </td>
        </tr>
    </tbody>
</table>

<pager total-items="residents.total" ng-model="residents.page" ng-change="residents.change()"></pager>

