<div class="btn-toolbar" role="toolbar">
    <a class="btn btn-primary" ui-sref="residents.new" has-role="manager">
        <icon name="plus" text="Add resident">
    </a>
    <button class="btn btn-default" ng-click="searchForm.toggle()">
        <icon name="search" text="Search" />
    </button>
</div>
<search-form name="searchForm" paginator="paginator" filter="full_name" class="voffset-2"></search-form>


<paginated-table cols="['Resident', 'Apartment', '']" class="voffset" paginator="paginator">

    <cell>
        <user-link user="item" />
    </cell>
    <cell><a ui-sref="buildings.apartment({id: item.apartment})">{{item.apartment_detail.number}} / Floor {{ item.apartment_detail.floor}}</a>
    </cell>
    <cell>
        <send-message recipient="item" class="btn btn-primary">
            <icon name="send" text="Send message" />
        </send-message>
    </cell>
</paginated-table>
