ownblock/assets
ownblock/bower_components
ownblock/uploads
ownblock/media
ownblock/logs
node_modules
*.pyc
*.swp
*.swo
*.db
ownblock/.env
ownblock/app/js/app-coffee.js
logs
*.sublime-project
*.sublime-workspace
:w
