<div class="btn btn-toolbar">
    <a class="btn btn-default" ui-sref="account.password">
        <icon name="edit" text="Change password" />
    </a>
</div>
<form role="form" name="form" novalidate>
    <div class="form-group">
        <label for="" class="control-label">First name</label>
        <input type="text" class="form-control" ng-model="auth.user.first_name" required />
    </div>

    <div class="form-group">
        <label for="" class="control-label">Last name</label>
        <input type="text" class="form-control" ng-model="auth.user.last_name" required />
    </div>

    <div class="form-group" ng-class="{'has-error': serverErrors.email}">
        <label for="" class="control-label">Email address</label>
        <input type="email" class="form-control" ng-model="auth.user.email" required/>
        <span class="help-block" ng-repeat="error in serverErrors.email">{{error}}</span>
    </div>

    <div class="form-group">
        <label for="" class="control-label">Phone</label>
        <input type="text" class="form-control" ng-model="auth.user.phone" />
    </div>

    <button type="submit" class="btn btn-primary" role="button" ng-click="save()" ng-disabled="form.$invalid">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</form>
