<form role="form" name="form" novalidate>
    <div class="form-group">
        <label for="" class="label-control">Password</label>
        <input type="password" class="form-control" ng-model="user.password" required />
    </div>
    <div class="form-group">
        <label for="" class="label-control">Confirm your password</label>
        <input type="password" class="form-control" ng-model="user.password2" required />
    </div>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || user.password2 !== user.password">Save</button>
</form>
