<div class="btn-toolbar pull-right" role="toolbar" has-role="manager">
    <a ui-sref="contacts.edit({id: contact.id})" class="btn btn-default">
        <icon name="edit" text="Edit" />
    </a>
    <confirm-dialog class="btn btn-danger" on-confirm="deleteContact()" header="Remove contact" text="Are you sure you want to remove this contact?">
        <icon name="trash-o" text="Delete" />
    </confirm-dialog>

</div>

<h2>{{contact.name}}</h2>
<p>{{contact.description}}</p>


<table class="table table-condensed">
    <tr ng-show="contact.email">
        <td>Email</td>
        <td><a href="mailto:{{contact.email}}">{{contact.email}}</a> 
        </td>
    </tr>
    <tr ng-show="contact.phone">
        <td>Phone</td>
        <td>{{contact.phone}}</td>
    </tr>
    <tr ng-show="contact.address">
        <td>Address</td>
        <td><address>{{contact.address}}</address>
        </td>
    </tr>
    <tr ng-show="contact.available_hours">
        <td>Available hours</td>
        <td>{{contact.available_hours}}</td>
    </tr>
</table>


