<form role="form" name="contactForm" novalidate>
    <div class="form-group">
        <label for="" class="label-control">Name</label>
        <input class="form-control" type="text" ng-model="contact.name" required>
    </div>
    <div class="form-group">
        <label for="" class="label-control">Description</label>
        <input class="form-control" type="text" ng-model="contact.description">
    </div>
    <div class="form-group">
        <label for="" class="label-control">Email</label>
        <input class="form-control" type="email" ng-model="contact.email">
    </div>
    <div class="form-group">
        <label for="" class="label-control">Phone</label>
        <input class="form-control" type="email" ng-model="contact.phone">
    </div>
    <div class="form-group">
        <label for="" class="label-control">Address</label>
        <input class="form-control" type="email" ng-model="contact.address">
    </div>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="contactForm.$invalid">Save</button>
</form>
