<div class="btn-toolbar pull-right" role="toolbar">
    <send-message recipient="notice.author" class="btn btn-default" header="Re:{{notice.title}}">
        <icon name="send" text="Send message to {{notice.author.full_name}}" />
    </send-message>
    <a ng-show="notice.is_editable" class="btn btn-default" ui-sref="notices.edit({id : notice.id})">
        <icon name="edit" text="Edit" />
    </a>
    <confirm-dialog on-confirm="deleteNotice()" ng-show="notice.is_removable" class="btn btn-danger" text="Are you sure you want to delete this notice?" header="Delete notice">
        <icon name="trash-o" text="Delete notice"></icon>
    </confirm-dialog>

</div>
<h2>{{notice.title}}</h2>


<table class="table table-condensed">
    <tr>
        <td>Posted by</td>
        <td>
            <user-link user="notice.author" />
        </td>
    </tr>
    <tr>
        <td>Date</td>
        <td>{{notice.created|date:"short"}}</td>
    </tr>
</table>



<pre>{{notice.details}}</pre>
