<div class="btn-toolbar pull-right" role="toolbar">
    <button class="btn btn-default" ng-show="notice.author.id != auth.user.id" send-message="{{notice.author}}">
        <icon name="send" text="Send message to author" />
    </button>
    <button ng-click="deleteNotice()" ng-show="notice.is_removable" class="btn btn-danger">
        <icon name="trash-o" text="Delete notice"></icon>
    </button>

</div>
<h2>{{notice.title}}</h2>


<table class="table table-condensed">
    <tr>
        <td>Posted by</td>
        <td>
            <user-link user="notice.author" />
        </td>
    </tr>
    <tr>
        <td>Date</td>
        <td>{{notice.created|date:"short"}}</td>
    </tr>
</table>



<pre>{{notice.details}}</pre>
