<div class="btn-toolbar" role="toolbar">
    <a class="btn btn-primary" ui-sref="notices.new">
        <icon name="plus" text="Add notice" />
    </a>
    <button class="btn btn-default" ng-click="searchForm.toggle()">
        <icon name="search" text="Search" />
    </button>

</div>

<search-form name="searchForm" paginator="paginator" filter="searchTerms" class="voffset-2"></search-form>

<table class="table table-bordered table-striped table-hover voffset-2" ng-show="!paginator.isEmpty">
    <thead>
        <th>Notice</th>
        <th>Date</th>
        <th>Author</th>
    </thead>
    <tbody>
        <tr ng-repeat="notice in paginator.currentItems">
            <td><a ui-sref="notices.detail({id: notice.id})">{{notice.title}}</a>
            </td>
            <td>{{notice.created|date}}</td>
            <td>
                <user-link user="notice.author" />
            </td>
        </tr>
    </tbody>
</table>

<pager total-items="paginator.total" ng-model="paginator.page" ng-change="paginator.change()"></pager>
