<div class="btn-toolbar" role="toolbar">
    <a class="btn btn-primary" ui-sref="notices.new">
        <icon name="plus" text="Add notice" />
    </a>
    <button class="btn btn-default" ng-click="toggleSearch()">
        <icon name="search" text="Search" />
    </button>

</div>

<form class="search-form voffset-2" ng-show="showSearch">
    <div class="input-group">
        <input class="form-control" type="search" ng-model="searchFilter.searchTerms">
        <span class="input-group-addon"><icon name="search" /></span>
    </div>
    <span class="help-block" ng-show="!notices.currentItems.length && searchFilter.searchTerms">
                Sorry, no notices found for your search.
            </span>
</form>

<table class="table table-bordered table-striped table-hover voffset-2" ng-show="notices.currentItems.length">
    <thead>
        <th>Notice</th>
        <th>Date</th>
        <th>Author</th>
    </thead>
    <tbody>
        <tr ng-repeat="notice in notices.currentItems">
            <td><a ui-sref="notices.detail({id: notice.id})">{{notice.title}}</a>
            </td>
            <td>{{notice.created|date}}</td>
            <td>
                <user-link user="notice.author" />
            </td>
        </tr>
    </tbody>
</table>

<pager total-items="notices.total" ng-model="notices.page" ng-change="notices.change()"></pager>
