<div class="row">
    <div class="col-md-6">
        <h2>{{building.address_1}}</h2>

        <tabset>
            <tab heading="Building details" active="tabs.building.active">
                <table class="table table-condensed table-striped table-hover table-bordered voffset-2">
                    <tbody>
                        <tr>
                            <td>Full address</td>
                            <td>{{building.full_address}}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>2002</td>
                        </tr>
                        <tr>
                            <td>Floors</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="Apartments" active="tabs.apartments.active">
                <table class="table table-striped table-bordered table-hover voffset-2">
                    <thead>
                        <tr>
                            <th>Apartment</th>
                            <th>Floor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="apartment in apartments">
                            <td>
                                <a ui-sref="buildings.apartment({id: apartment.id})">{{apartment.number}}</a>
                            </td>
                            <td>{{apartment.floor}}</td>
                        </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>

    </div>
    <div class="col-md-6">
        <div id="map" style="height:500px" ng-show="!currentApartment||tabs.building.active"></div>
        <div ng-show="currentApartment && !tabs.building.active">
            <h2>Apartment {{currentApartment.number}}</h2>
            <table class="table table-condensed table-striped table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>Floor</td>
                        <td>{{currentApartment.floor}}</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td>100 sq m</td>
                    </tr>
                    <tr>
                        <td>Rooms</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>

            <h3>Residents</h3>
            <div class="btn-toolbar" role="toolbar" has-role="manager" ng-click="addResident(currentApartment)">
                <button class="btn btn-primary">
                    <icon name="plus" text="Add resident" />
            </div>
            <table class="table table-condensed table-striped table-hover table-bordered voffset-2">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="resident in currentApartment.user_set">
                        <td>{{resident.full_name}}
                        </td>
                        <td>
                            <a send-message="{{resident}}" ng-show="auth.user.id !== resident.id" class="btn btn-default btn-sm">
                                <icon name="send" text="Send message" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
