<form class="search-form">
    <div class="input-group">
        <input class="form-control" type="search" ng-model="search.full_address">
        <span class="input-group-addon"><icon name="search" /></span>
    </div>
</form>

<div ng-repeat="city in cities|orderBy:'name'" ng-class="voffset-2">
    <h3>{{city.name}}</h3>
    <ul class="list-unstyled">
        <li ng-repeat="building in city.buildings|filter:search">
            <a href ng-click="selectBuilding(building)">{{building.address_1}}, {{building.postcode}}</a>
            <icon name="check" ng-show="auth.user.building.id === building.id" />
        </li>
    </ul>
</div>
