<div class="modal-header">
    <h3>Add new resident</h3>
</div>
<div class="modal-body">
    <form role="form" ng-submit="save()" name="residentForm" novalidate>

        <div class="form-group">
            <label for="" class="label-control">First name</label>
            <input class="form-control" type="text" ng-model="resident.first_name" required>
        </div>

        <div class="form-group">
            <label for="" class="label-control">Last name</label>
            <input class="form-control" type="text" ng-model="resident.last_name" required>
        </div>

        <div class="form-group">
            <label for="" class="label-control">Email address</label>
            <input class="form-control" type="email" ng-model="resident.email" required>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="residentForm.$invalid" ng-click="save()">Save</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
