{% extends "registration/registration_base.html" %} {% block content %} {% if form.errors %}
<div class="alert alert-warning">Sorry, we were unable to reset your password.</div>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.password_reset_confirm' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="" class="label-control">Your new password</label>
        <input type="password1" name="password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="" class="label-control">Confirm this password</label>
        <input type="password2" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Reset password</button>
</form>
{% endblock %}

