{% extends "registration/registration_base.html" %} {% block content %} {% if form.errors %}
<div class="alert alert-warning">Sorry, we were unable to find your email address.</div>
{% endif %}

<p class="well">Please enter your email address below so we can reset your password.</p>
<form method="post" action="{% url 'django.contrib.auth.views.password_reset' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="" class="label-control">Email address</label>
        <input type="text" name="email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Reset password</button>
</form>
{% endblock %}

