<div class="btn-toolbar pull-right" role="toolbar" ng-show="message.sender.id !== auth.user.id">
    <a class="btn btn-primary" ui-sref="messages.reply({parent: message.id})">
        <icon name="reply" text="Reply">
    </a>
</div>
<h2>{{message.header}}</h2>

<table class="table table-condensed">
    <tr ng-show="message.sender.id !== auth.user.id">
        <td>From</td>
        <td>
            <user-link user="message.sender" />
        </td>
    </tr>
    <tr ng-show="message.recipient !== auth.user.id">
        <td>To</td>
        <td>
            <user-link user="message.recipient_detail" />
        </td>
    </tr>
    <tr>
        <td>Date</td>
        <td>{{message.created|date:"short"}}</td>
    </tr>
</table>

<pre ng-show="message.details">{{message.details}}</pre>
