<form role="form" ng-submit="send()" name="messageForm" novalidate>

    <div class="form-group">
        <label for="" class="control-label">Header</label>
        <input class="form-control" type="text" ng-model="message.header" required>
    </div>
    <div class="form-group">
        <label for="" class="control-label">Message</label>
        <textarea class="form-control" id="" name="" rows="10" cols="30" ng-model="message.details"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" ng-invalid="messageForm.$invalid">Send</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</form>
