<tabset>

    <tab heading="Inbox">

        <form class="search-form voffset-2">
            <div class="input-group">
                <input class="form-control" type="search" ng-model="receivedSearchFilter.searchTerms" ng-change="receivedMessages.filter(receivedSearchFilter)">
                <span class="input-group-addon"><icon name="search" /></span>
            </div>
        </form>

        <table class="table table-bordered table-striped table-hover voffset-2">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>From</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in receivedMessages.currentItems">
                    <td><a ui-sref="messages.detail({id: message.id})">{{message.header}}</a>
                    </td>
                    <td>
                        <user-link user="message.sender" />
                    </td>
                    <td>{{message.created|date:"short"}}</td>
                </tr>
            </tbody>
        </table>
        <pager total-items="receivedMessages.total" ng-model="receivedMessages.page" ng-change="receivedMessages.change()"></pager>
    </tab>
    <tab heading="Outbox">
        <form class="search-form voffset-2">
            <div class="input-group">
                <input class="form-control" type="search" ng-model="sentSearchFilter.searchTerms" ng-change="sentMessages.filter(sentSearchFilter)">
                <span class="input-group-addon"><icon name="search" /></span>
            </div>
        </form>

        <table class="table table-bordered table-striped table-hover voffset-2">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>To</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in sentMessages.currentItems">
                    <td><a ui-sref="messages.detail({id: message.id})">{{message.header}}</a>
                    </td>
                    <td>
                        <user-link user="message.recipient_detail" />
                    </td>
                    <td>{{message.created|date:"short"}}</td>
                </tr>
            </tbody>
        </table>
        <pager total-items="sentMessages.total" ng-model="sentMessages.page" ng-change="sentMessages.change()"></pager>
    </tab>
</tabset>
