<tabset>

    <tab heading="Inbox">

        <search-form paginator="receivedMessages" filter="searchTerms" is-visible class="voffset-2"></search-form>


        <paginated-table paginator="receivedMessages" class="voffset-2" cols="['Message', 'From', 'Date']">


            <cell><a ng-class="{'message-unread': !item.is_read}" ui-sref="messages.detail({id: item.id})">{{item.header}}</a>
            </cell>
            <cell>
                <user-link user="item.sender" />
            </cell>
            <cell>{{item.created|date:"short"}}</cell>
        </paginated-table>
    </tab>
    <tab heading="Outbox ">
        <search-form paginator="sentMessages" filter="searchTerms" is-visible class="voffset-2"></search-form>

        <paginated-table paginator="sentMessages" class="voffset-2" cols="['Message', 'To', 'Date']">

            <cell><a ui-sref="messages.detail({id: item.id}) ">{{item.header}}</a>
            </cell>
            <cell>
                <user-link user="item.recipient_detail " />
            </cell>
            <cell>{{item.created|date:"short"}}</cell>
        </paginated-table>
    </tab>
</tabset>
