<!DOCTYPE html>{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ownblock</title>
        <meta name="keywords" content="Block management software, property management software, residential management, apartment block management, residential management software, neighbor communications, apartment block amenities management">
        <meta name="description" content="Residential block management software to help build good neighbor connections and manage your local amenities">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    </head>

    <body class="front-page" {% block body-attrs %}{% endblock %}>
        {% include "analytics.html" %}
        {% block content %} {% endblock %} {% include "footer.html" %}
    </body>

</html>
