<footer class="voffset-3">
    <div class="container">
        <ul class="nav nav-pills">
            <li><a href="http://ownblock.com{% url 'about' %}">Home</a>
            </li>
            <li><a href="http://ownblock.com{% url 'about' %}">About ownblock.com</a>
            </li>
            <li><a href="http://ownblock.com{% url 'contact' %}">Contact us</a>
            </li>
        </ul>
        <p class="pull-right">
            <small>&copy; Dan Jacob {% now 'Y' %}</small>
        </p>
    </div>
</footer>

