<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ownblock</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'bower_components/bootswatch/flatly/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
</head>

<body id="index-page">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Ownblock</h1>
            <p>Keeping neighbors in the loop</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
                <a href="{% url 'app' %}" class="btn btn-primary btn-lg" role="button">Log in &raquo;</a>
            </p>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Keep residents up to date</h2>
                <p>Our <b>Notice board</b> gives each block its own news room. Rules and regulations, minutes of AGMs and other important information can be uploaded to our document store.
                </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Track amenities, parking, storage</h2>
                <p>
                    <ul>
                        <li>Residents can book facilities such as laundromats or the communal pool.</li>
                        <li>Keep track of property stored in communal areas such as bicycles and prams.</li>
                        <li>Register cars and vehicles in the block parking lot.</li>
                    </ul>
                </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Let neighbors keep in touch</h2>
                <p>Our safe, easy-to-use, simple messaging system lets residents communicate. Email notifications keep them in the loop.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
        </div>
</body>

</html>
