{% extends "base.html" %}{% load static %} {% block body-attrs %} id="index-page"{% endblock %} {% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Ownblock</h1>
        <div class="row">
            <div class="col-md-8">
                <a href="{% static 'img/screenshot4.png' %}">
                    <img src="{% static 'img/screenshot4.png' %}" height="450" width="600">
                </a>
            </div>
            <div class="col-md-4">
                <p>Keeping neighbors in the loop</p>
                <p>
                    <a href="http://demo.ownblock.com{% url 'app' %}" class="btn btn-primary btn-lg" role="button">Try our demo &raquo;</a>
                    <a href="{% url 'contact' %} " class="btn btn-primary btn-lg" role="button">Contact us &raquo;</a>
                    <a href="{% url 'about' %}" class="btn btn-primary btn-lg" role="button">More info &raquo;</a>
                </p>
            </div>

        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Keep residents up to date</h2>
            <p>Our <b>Notice board</b> gives each block its own news room. Rules and regulations, minutes of AGMs and other important information can be uploaded to our document store.
            </p>
            <p><a class="btn btn-default" href="{% url 'about' %}#communicate" role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Track amenities, parking, storage</h2>
            <p>
                <ul>
                    <li>Residents can book facilities such as laundromats or the communal pool.</li>
                    <li>Keep track of property stored in communal areas such as bicycles and prams.</li>
                    <li>Register cars and vehicles in the block parking lot.</li>
                </ul>
            </p>
            <p><a class="btn btn-default" href="{% url 'about' %}#manage" role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Suitable for all residential building managers</h2>
            <p>From individual block committees to municipal and large commercial property management companies.</p>
            <p><a class="btn btn-default" href="{% url 'about' %}#users" role="button">View details &raquo;</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
