<form role="form" name="amenityForm" novalidate>
    <div class="form-group">
        <label for="" class="control-label">Name</label>
        <input type="text" class="form-control" ng-model="amenity.name" required/>
    </div>
    <div class="form-group">
        <label class="control-label">Is this amenity currently available?</label>
        <input class="checkbox" type="checkbox" ng-model="amenity.is_available" />
    </div>
    <button type="submit " class="btn btn-primary" ng-disabled="amenityForm.$invalid" ng-click="save()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</form>
