<h2 ng-show="amenity">Make a reservation for {{amenity.name}}</h2>
<form role="form" name="bookingForm" novalidate>
    <div class="alert alert-warning" ng-repeat="error in serverErrors.non_field_errors">{{error}}</div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': serverErrors.reserved_from}">
                <label for="" class="control-label">From</label>
                <input type="date" class="form-control" datepicker-popup="dd/MM/yyyy" placeholder="Date (dd/mm/yyyy)" ng-click="isDatepickerFromOpen=true" is-open="isDatepickerFromOpen" ng-model="booking.reserved_from">
                <timepicker name="reserved_from" ng-model="booking.reserved_from"></timepicker>
            </div>
            <span class="help-block" ng-repeat="error in serverErrors.reserved_from">{{error}}</span>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': serverErrors.reserved_to}">
                <label for="" class="control-label">To</label>
                <input type="date" class="form-control" datepicker-popup="dd/MM/yyyy" placeholder="Date (dd/mm/yyyy)" ng-click="isDatepickerToOpen=true" is-open="isDatepickerToOpen" ng-model="booking.reserved_to">
                <timepicker name="reserved_to" ng-model="booking.reserved_to"></timepicker>
                <span class="help-block" ng-repeat="error in serverErrors.reserved_to">{{error}}</span>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <a ng-show="!amenity" ui-sref="amenities.detail({id: booking.amenity})" class="btn btn-default">Cancel</a>
    <a ng-show="amenity" ui-sref="amenities.detail({id: amenity.id})" class="btn btn-default">Cancel</a>
</form>
