<div class="btn-toolbar" role="toolbar">
    <a class="btn btn-default" ng-show="booking.is_editable" ui-sref="amenities.editBooking({id: booking.id})">
        <icon name="edit" text="Edit" />
    </a>
    <confirm-dialog class="btn btn-danger" ng-show="booking.is_removable" header="Cancel booking" text="Are you sure you want to cancel this booking?" on-confirm="cancelBooking()">
        <icon name="trash-o" text="Cancel reservation" />
    </confirm-dialog>
    <send-message class="btn btn-default" recipient="booking.resident" header="Re:{{booking.amenity_detail.name}}">
        <icon name="send" text="Send message to {{booking.resident.full_name}}" />
    </send-message>
</div>

<h2><a ui-sref="amenities.detail({id: booking.amenity})">{{booking.amenity_detail.name}}</a></h2>

<table class="table table-condensed">
    <tr>
        <td>Reserved by</td>
        <td>
            <user-link user="booking.resident" />
        </td>
    </tr>
    <tr>
        <td>Apartment</td>
        <td><a ui-sref="buildings.apartment({id: booking.resident.apartment})">{{booking.resident.apartment_detail.name}}</a>
        </td>
    </tr>
    <tr>
        <td>From</td>
        <td>{{booking.reserved_from|date:"short"}}</td>
    </tr>
    <tr>
        <td>To</td>
        <td>{{booking.reserved_to|date:"short"}}</td>
    </tr>
</table>
