<div class="btn-toolbar" role="toolbar" has-role="resident">
    <a class="btn btn-primary" ng-show="amenity.is_available" ui-sref="amenities.newBooking({id: amenity.id})">
        <icon name="calendar" />Make a reservation
    </a>
</div>

<hr>

<h2>{{amenity.name}}</h2>


<div ng-if="amenity.is_available" class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar"></div>
<div ng-if="amenity && !amenity.is_available">Sorry, this amenity is currently unavailable.</div>

