<div class="row">
    <div class="col-md-9">

        <h2>{{amenity.name}}</h2>

    </div>
    <div class="col-md-3">

        <a class="btn btn-primary btn-sm" ng-show="amenity.is_available" ui-sref="amenities.newBooking({id: amenity.id})">
            <span class="glyphicon glyphicon-calendar"></span> Reserve
        </a>
    </div>

</div>

<div ng-if="amenity.is_available" class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar"></div>
<div ng-if="amenity && !amenity.is_available">Sorry, this amenity is currently unavailable.</div>

