<div role="toolbar" class="btn-toolbar" has-role="manager">
    <a href="" class="btn btn-primary" ui-sref="amenities.newAmenity">
        <icon name="plus" text="Add new amenity" />
    </a>
</div>
<hr>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Amenity</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="amenity in amenities">
            <td><a ui-sref="amenities.detail({id: amenity.id})">{{amenity.name}}</a>
            </td>
            <td>
                <span class="label label-success" ng-show="amenity.is_available">Available</span>
                <span class="label label-danger" ng-show="!amenity.is_available">Not Available</span>
            </td>
            <td>
                <a has-role="resident" class="btn btn-primary btn-sm" ng-show="amenity.is_available" ui-sref="amenities.newBooking({id: amenity.id})">
                    <icon name="calendar" text="Reserve" />
                </a>
                <a has-role="manager" class="btn btn-default btn-sm" ui-sref="amenities.edit({id: amenity.id})">
                    <icon name="edit" text="Edit" />
                </a>
                <button class="btn btn-danger btn-sm" ng-click="deleteAmenity(amenity, $index)" has-role="manager">
                    <icon name="trash" text="Remove" />
                </button>
            </td>
        </tr>
    </tbody>

</table>
