<div class="btn-toolbar" role="toolbar" has-role="manager">
    <a class="btn btn-primary" ui-sref="amenities.newAmenity">
        <icon name="plus" />Add new amenity</a>
</div>

<form class="search-form voffset-2">
    <div class="input-group">
        <input class="form-control" type="search" ng-model="searchFilter.name" ng-change="amenities.filter(searchFilter)">
        <span class="input-group-addon"><icon name="search" /></span>
    </div>
    <span class="help-block" ng-show="!amenities.currentItems.length && searchFilter.name">
                Sorry, no amenities found for your search.
            </span>
</form>


<table class="table table-striped table-bordered table-hover voffset-2" ng-show="amenities.currentItems.length">
    <thead>
        <tr>
            <th>Amenity</th>
            <th>Status</th>
            <th has-role="resident"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="amenity in amenities.currentItems">
            <td><a ui-sref="amenities.detail({id: amenity.id})">{{amenity.name}}</a>
            </td>
            <td>
                <span class="label label-success" ng-show="amenity.is_available">Available</span>
                <span class="label label-danger" ng-show="!amenity.is_available">Not Available</span>
            </td>
            <td has-role="resident">
                <a class="btn btn-primary" ng-show="amenity.is_available" ui-sref="amenities.newBooking({id: amenity.id})">
                    <icon name="calendar" text="Reserve" />
                </a>
            </td>
        </tr>
    </tbody>

</table>

<pager total-items="amenities.total" ng-model="amenities.page" ng-change="amenities.change()"></pager>
