<div class="btn-toolbar" role="toolbar">
    <a class="btn btn-primary" ui-sref="amenities.newitem" has-role="manager">
        <icon name="plus" />Add new item</a>
    <button class="btn btn-default" ng-click="searchForm.toggle()">
        <icon name="search" text="Search" />
    </button>

</div>

<search-form name="searchForm" paginator="paginator" filter="name" class="voffset-2"></search-form>

<paginated-table class="voffset-2" paginator="paginator" cols="cols">

    <cell><a ui-sref="amenities.detail({id: item.id})">{{item.name}}</a>
    </cell>
    <cell>
        <span class="label label-success" ng-show="item.is_available">Available</span>
        <span class="label label-danger" ng-show="!item.is_available">Not Available</span>
    </cell>
    <cell has-role="resident">
        <a class="btn btn-primary" ng-show="item.is_available" ui-sref="amenities.newBooking({id: item.id})">
            <icon name="calendar" text="Reserve" />
        </a>
    </cell>
</paginated-table>
