<div role="toolbar" class="btn-toolbar pull-right">
    <confirm-dialog ng-show="vehicle.is_removable" class="btn btn-danger" header="Remove vehicle" text="Are you sure you want to remove this vehicle?" on-confirm="deleteVehicle()">
        <icon name="trash-o" text="Remove vehicle"></icon>
    </confirm-dialog>
    <send-message class="btn btn-default" recipient="vehicle.resident" header="Re:{{vehicle.description}}">
        <icon name="send" text="Send message to {{vehicle.resident.full_name}}" />
    </send-message>
</div>

<h2>{{vehicle.description}}</h2>
<table class="table table-condensed">
    <tr>
        <td>Registration</td>
        <td>{{vehicle.registration_number}}</td>
    </tr>
    <tr>
        <td>Owner</td>
        <td><a ui-sref="residents.detail({id: vehicle.resident.id})">{{vehicle.resident.full_name}}</a>
        </td>
    </tr>
    <tr>
        <td>Apartment</td>
        <td><a ui-sref="buildings.apartment({id: vehicle.resident.apartment})">{{vehicle.resident.apartment_detail.name}}</a>
        </td>
    </tr>
</table>
