<div role="toolbar" class="btn-toolbar">
    <a ui-sref="parking.list" class="btn btn-default">
        <icon name="arrow-left" text="See all vehicles" />
    </a>
    <send-message class="btn btn-default" recipient="vehicle.resident" header="Re:{{vehicle.description}}">
        <icon name="send" text="Send message to owner" />
    </send-message>
    <a ui-sref="parking.edit({id: vehicle.id})" class="btn btn-default" ng-show="vehicle.is_editable">
        <icon name="edit" text="Edit" />
    </a>
    <confirm-dialog ng-show="vehicle.is_removable" class="btn btn-danger" header="Remove vehicle" text="Are you sure you want to remove this vehicle?" on-confirm="deleteVehicle()">
        <icon name="trash-o" text="Remove vehicle"></icon>
    </confirm-dialog>
</div>

<h2>{{vehicle.description}}</h2>
<table class="table table-condensed">
    <tr>
        <td>Registration</td>
        <td>{{vehicle.registration_number}}</td>
    </tr>
    <tr>
        <td>Owner</td>
        <td>
            <user-link user="vehicle.resident" />
        </td>
    </tr>
    <tr>
        <td>Apartment</td>
        <td><a ui-sref="buildings.apartment({id: vehicle.resident.apartment})">{{vehicle.resident.apartment_detail.name}}</a>
        </td>
    </tr>
</table>
