<div role="toolbar" class="btn-toolbar">
    <a ui-sref="parking.new" class="btn btn-primary" has-role="resident">
        <icon name="plus" text="Add vehicle " />
    </a>
    <button class="btn btn-default" ng-click="searchForm.toggle()">
        <icon name="search" text="Search" />
    </button>
</div>

<search-form name="searchForm" paginator="paginator" filter="searchTerms" class="voffset-2"></search-form>

<table class="table table-bordered table-striped table-hover voffset-2" ng-show="!paginator.isEmpty">
    <thead>
        <tr>
            <th>Registration</th>
            <th>Description</th>
            <th>Reserved space</th>
            <th>Owner</th>
            <th>Apartment</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="vehicle in paginator.currentItems ">
            <td><a ui-sref="parking.detail({id: vehicle.id})">{{vehicle.registration_number}}</a>
            </td>
            <td>{{vehicle.description}}
            </td>
            <td>{{vehicle.reserved_space || 'No' }}</td>
            <td>
                <user-link user="vehicle.resident" />
            </td>
            <td><a ui-sref="buildings.apartment({id: vehicle.resident.apartment}) ">{{vehicle.resident.apartment_detail.number}}</a>
            </td>
        </tr>
    </tbody>

</table>

<pager total-items="paginator.total" ng-model="paginator.page" ng-change="paginator.change()"></pager>
