<div role="toolbar" class="btn-toolbar">
    <a ui-sref="parking.new" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Add vehicle
    </a>
</div>
<hr>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Description</th>
            <th>Registration no.</th>
            <th>Owner/Apartment</th>
            <th>Reserved space</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="vehicle in vehicles">
            <td>{{vehicle.description}}</td>
            <td>{{vehicle.registration_number}}</td>
            <td>{{vehicle.resident.full_name}}/{{vehicle.resident.apartment.number}}</td>
            <td>{{vebicle.reserved_space || 'No' }}</td>
            <td>
                <a ui-sref="parking.edit({id: vehicle.id})" class="btn btn-default btn-sm" ng-show="vehicle.is_editable">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </a>
                <button class="btn btn-danger btn-sm" ng-show="vehicle.is_editable" ng-click="deleteVehicle(vehicle, $index)">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
                <button send-message="{{vehicle.resident}}" class="btn btn-default btn-sm" ng-show="vehicle.resident.id != auth.user.id">
                    <span class="glyphicon glyphicon-send"></span> Send message
                </button>

            </td>
        </tr>
    </tbody>

</table>
