<div role="toolbar" class="btn-toolbar">
    <a ui-sref="parking.new" class="btn btn-primary" has-role="resident">
        <icon name="plus" text="Add vehicle " />
    </a>
    <button class="btn btn-default" ng-click="searchForm.toggle()">
        <icon name="search" text="Search" />
    </button>
</div>

<search-form name="searchForm" paginator="paginator" filter="searchTerms" class="voffset-2"></search-form>

<paginated-table class="voffset-2" paginator="paginator" cols="['Registration', 'Description', 'Reserved space', 'Owner', 'Apartment']">

    <cell><a ui-sref="parking.detail({id: item.id})">{{item.registration_number}}</a>
    </cell>
    <cell>{{item.description}}
    </cell>
    <cell>{{item.reserved_space || 'No' }}</cell>
    <cell>
        <user-link user="item.resident" />
    </cell>
    <cell><a ui-sref="buildings.apartment({id: item.resident.apartment}) ">{{item.resident.apartment_detail.number}}</a>
    </cell>
</paginated-table>
