<div role="toolbar" class="btn-toolbar">
    <a ui-sref="documents.list" class="btn btn-default">
        <icon name="arrow-left" text="See all documents" />
    </a>
    <confirm-dialog has-role="manager" class="btn btn-danger" on-confirm="deleteDocument()" text="Are you sure you want to delete this document?" header="Remove document">
        <icon name="trash-o" text="Remove document" />
    </confirm-dialog>

    <a class="btn btn-primary" ng-href="{{document.download_url}}">
        <icon name="download" text="Download" />
    </a>
    <send-message ng-if="document.author" recipient="document.author" class="btn btn-default" header="Re: {{document.title}}">
        <icon name="send" text="Send message to {{document.author.full_name}}" />
    </send-message>
</div>

<h2>{{document.title}}</h2>
<table class="table table-condensed">
    <tbody>
        <tr ng-if="document.author">
            <td>Uploaded by</td>
            <td>
                <user-link user="document.author" />
            </td>
        </tr>
        <tr>
            <td>Uploaded on</td>
            <td>{{document.created|date:"short"}}</td>
        </tr>
    </tbody>
</table>

