<form role="form" name="uploadForm" novalidate>
    <div class="form-group">
        <label for="" class="control-label">Title</label>
        <input class="form-control" type="text" ng-model="document.title" required>
    </div>
    <div class="form-group">
        <label for="" class="control-label">File</label>
        <input class="form-control" type="file" files-model="document.file">
    </div>
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</form>
