<div class="row">
    <div class="col-md-6" has-role="manager">
        <div class="btn-toolbar" role="toolbar">
            <a class="btn btn-primary" ui-sref="documents.upload">
                <icon name="upload" text="Upload document">
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <form class="search-form">
            <div class="input-group">
                <input class="form-control" type="search" ng-model="searchFilter.title" ng-change="documents.filter(searchFilter)">
                <span class="input-group-addon"><icon name="search" /></span>
            </div>
        </form>
    </div>
</div>


<table class="table table-bordered table-striped table-hover voffset-2">
    <thead>
        <th>Title</th>
        <th>Uploaded on</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="document in documents.currentItems">
            <td>{{document.title}}
            </td>
            <td>{{document.created|date:"fullDate"}}</td>
            <td>
                <a class="btn btn-primary btn-sm" ng-href="{{document.download_url}}">
                    <icon name="download" text="Download" />
                </a>
                <button has-role="manager" class="btn btn-danger btn-sm" ng-click="deleteDocument(document, $index)">
                    <icon name="trash" text="Delete" />
                </button>
            </td>
        </tr>
    </tbody>

</table>

<pager total-items="documents.total" ng-model="documents.page" ng-change="documents.change()"></pager>
