<div role="toolbar" class="btn-toolbar">
    <a href="" class="btn btn-primary" ui-sref="documents.upload" has-role="manager">
        <icon name="upload" text="Upload document" />
    </a>
</div>
<hr>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <th>Title</th>
        <th>Uploaded on</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="document in documents.currentItems">
            <td>{{document.title}}
            </td>
            <td>{{document.created|date:"fullDate"}}</td>
            <td>
                <a class="btn btn-primary btn-sm" ng-href="{{document.download_url}}">
                    <icon name="download" text="Download" />
                </a>
                <button has-role="manager" class="btn btn-danger btn-sm" ng-click="deleteDocument(document, $index)">
                    <icon name="trash" text="Delete" />
                </button>
            </td>
        </tr>
    </tbody>

</table>

<pager total-items="documents.total" ng-model="documents.page" ng-change="documents.change()"></pager>
