<div class="row">
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1929.9541936681162!2d28.1741613!3d61.07136759999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469095b9ed0fb5ed%3A0xf58f7a33cb0d8870!2sPikisaarenkatu%2C+53900+Lappeenranta%2C+Finland!5e0!3m2!1sen!2s!4v1406964687449" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
    <div class="col-md-6">
        <h2>Pikisaarenkatu 48</h2>

        <tabset>
            <tab heading="Building details">
                <table class="table table-condensed table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td>Full address</td>
                            <td>Pikisaarenkatu 48, 53900 Lappeenranta</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>2002</td>
                        </tr>
                        <tr>
                            <td>Floors</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Important contacts</h3>

                <table class="table table-condensed table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Contact</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Asunto remontit OY (Repairs)</td>
                            <td>0489289</td>
                            <td><a href="">henkilo@asuntoremontit.fi</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </tab>
            <tab heading="My apartment">
                <table class="table table-condensed table-striped table-hover table-bordered ">
                    <tbody>
                        <tr>
                            <td>Apartment</td>
                            <td>31</td>
                        </tr>
                        <tr>
                            <td>Floor</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td>100 sq m</td>
                        </tr>
                        <tr>
                            <td>Rooms</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Residents</h3>
                <table class="table table-condensed table-striped table-hover table-bordered ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href=" ">Gill MacMillan</a>
                            </td>
                            <td>
                                <a href=" " class="btn btn-default ">
                                    <span class="glyphicon glyphicon-send "></span> Send message
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href=" ">Dan Jacob</a>
                            </td>
                            <td>
                                <a href=" " class="btn btn-default ">
                                    <span class="glyphicon glyphicon-pencil "></span> Edit details
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>Vehicles</h3>

                <table class="table table-condensed table-striped table-hover table-bordered ">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Registration number</th>
                            <th>Reserved parking place</th>
                        </tr>
                        <tr>
                            <td>Black Mercedes A-series</td>
                            <td>XN-39-11</td>
                            <td>-</td>
                        </tr>
                    </thead>
                </table>
            </tab>
            <tab heading="All apartments">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Apartment</th>
                            <th>Floor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="">1</a>
                            </td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </tab>

    </div>
</div>
