<div role="toolbar" class="btn-toolbar">
    <a ui-sref="complaints.new" class="btn btn-primary" has-role="resident">
        <icon name="plus" text="Submit a complaint" />
    </a>
    <button class="btn btn-default" ng-click="searchForm.toggle()">
        <icon name="search" text="Search" />
    </button>
</div>

<search-form name="searchForm" paginator="paginator" filter="complaint" class="voffset-2"></search-form>
<paginated-table class="voffset-2" cols="cols" paginator="paginator">

    <cell><a ui-sref="complaints.detail({id: item.id})">{{item.complaint|limitTo:60}}</a>
    </cell>
    <cell>{{item.created|date:"short"}}</cell>
    <cell has-role="manager">
        <user-link user="item.resident_detail" />
    </cell>

</paginated-table>
